body {
    background-color: gray;
}

.cabecalho {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center
}
.titulo {
    display: flex;
    align-items: center;
    text-transform: bold;
    font-size: 50px;
}


.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}

.textBox {

    font-size: 20px;

}

.button1, .button2 {
    border: solid 2px black;
    border-radius: 5px;
    font-size: 15px;
}

.button2 {
    display: none;
}